<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <h1 class="head">Detailed Post</h1>
    <h2 class="user">Id: <%=post.id%></h2>
    <div class="post">
    <h3 class="user">@<%=post.username%></h3>
    <h4 class="user"><%=post.content%></h2>
        </div>
</body>
</html>