<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <h1 class="head">Edit The content</h1>
    <div class="post">
        <form method="post" action="/post/<%=post.id%>?_method=PATCH">
        <h1>Id :<%=post.id%></h1>
        <h2>Username : <%=post.username%></h2>
        <textarea rows="10" cols="25" name="content"><%=post.content%></textarea>
        <button>submit</button>
        </form>
    </div>
</body>
</html>